In [1]:
import pandas as pd
import numpy as np
from drive_manager import Drive_Manager

In [2]:
annotations_PAC_TLS_path = './seaview/annotations/annotations_PAC_TLS.csv'

# Load the CSV data into a pandas DataFrame
df = pd.read_csv(annotations_PAC_TLS_path)

print("DataFrame Head:")
print(df.head())

DataFrame Head:
     quadratid    y    x                                         label_name  \
0  30002121501   83   85                              Loose Substrate: Sand
1  30002121501   93  319                              Loose Substrate: Sand
2  30002121501  128  457  Other soft-corals no common Alcyoniidae and er...
3  30002121501  245  578  Other soft-corals no common Alcyoniidae and er...
4  30002121501  163  670  Other soft-corals no common Alcyoniidae and er...

        label  func_group  method data_set
0   LSUB_SAND       Other  random    train
1   LSUB_SAND       Other  random     test
2  SINV_SFC_O  Soft Coral  random     test
3  SINV_SFC_O  Soft Coral  random     test
4  SINV_SFC_O  Soft Coral  random     test

In [3]:
# dataframe info
print("\nDataFrame Info:")
print(df.info())

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71600 entries, 0 to 71599
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   quadratid   71600 non-null  int64
 1   y           71600 non-null  int64
 2   x           71600 non-null  int64
 3   label_name  71600 non-null  object
 4   label       71600 non-null  object
 5   func_group  71600 non-null  object
 6   method      71600 non-null  object
 7   data_set    71600 non-null  object
dtypes: int64(3), object(5)
memory usage: 4.4+ MB
None

In [4]:
# dataframe description
print("\nDataFrame Description:")
print(df.describe(include='all'))

DataFrame Description:
           quadratid             y             x            label_name  \
count   7.160000e+04  71600.000000  71600.000000                 71600
unique           NaN           NaN           NaN                    59
top              NaN           NaN           NaN  EAM: Dead Hard Coral
freq             NaN           NaN           NaN                 16482
mean    3.001409e+10    598.042598    603.452374                   NaN
std     7.547206e+06    340.145570    339.587019                   NaN
min     3.000208e+10     14.000000     12.000000                   NaN
25%     3.000810e+10    318.000000    326.000000                   NaN
50%     3.001303e+10    578.000000    585.000000                   NaN
75%     3.002016e+10    839.000000    844.000000                   NaN
max     3.002726e+10   2274.000000   2278.000000                   NaN

          label func_group  method data_set
count     71600      71600   71600    71600
unique       59          5       2        2
top     EAM_DHC      Algae  random    train
freq      16482      33503   64100    55101
mean        NaN        NaN     NaN      NaN
std         NaN        NaN     NaN      NaN
min         NaN        NaN     NaN      NaN
25%         NaN        NaN     NaN      NaN
50%         NaN        NaN     NaN      NaN
75%         NaN        NaN     NaN      NaN
max         NaN        NaN     NaN      NaN

Unique Items Count in Each Column:
quadratid: 864
y: 1840
x: 1832
label_name: 59
label: 59
func_group: 5
method: 2
data_set: 2